.gitignore
model_deployment/build
model_deployment/components/esp-dl
model_deployment/sdkconfig
model_quantize
.vscode
.DS_Store
*.json
examples/classification/classification.ipynb
dataset
*.lock
.gitignore
sdkconfig*
sdkconfig.*
sdkconfig.old
__pycache__
